[Desktop Entry]
Encoding=UTF-8
Name=gtklick
Comment=A Simple Metronome
Exec=gtklick
Icon=gtklick
Type=Application
Terminal=false
Categories=AudioVideo;Audio;Music;GTK;
